<nz-table
  #moviesTable
  [nzData]="moviesList"
  [nzLoading]="loading"
  [nzPageSize]="5"
  [nzHideOnSinglePage]="false"
  >
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>F. Publicación</th>
      <th>Estado</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of moviesTable.data">
      <td>{{ movie.uid }}</td>
      <td>{{ movie.title }}</td>
      <td>
        <i nz-icon nzType="calendar" nzTheme="outline"></i>
        {{ movie.release_date | date }}
      </td>
      <td>
        <nz-tag *ngIf="movie.status === 'active'" [nzColor]="'green'">Activo</nz-tag>
        <nz-tag *ngIf="movie.status === 'inactive'" [nzColor]="'red'">Inactivo</nz-tag>
      </td>
      <td class="text-right">
        <a
          (click)="onEdit(movie)"
          [routerLink]="'/movies/edit/' + movie.$key"
          nzTooltipTitle="Editar"
          nzTooltipPlacement="top"
          nz-tooltip>
          <i nz-icon nzType="edit"></i>
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a
          nz-popconfirm
          nzPopconfirmTitle="¿Seguro quieres eliminar esta película?"
          nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="onDelete(movie.$key)">
          <i nz-icon
            nzType="delete"
            nzTooltipTitle="Eliminar"
            nzTooltipPlacement="top"
            nz-tooltip>
          </i>
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>