<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="/" title="Go to home">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Movies App</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="dashboard"></i>
        <span>
          <a routerLink="/dashboard">Dashboard</a>
        </span>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="unordered-list"></i>
        <span>
          <a routerLink="/movies">Películas</a>
        </span>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="clock-circle"></i>
        <span>
          <a routerLink="#">Turnos</a>
        </span>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="team"></i>
        <span>
          <a routerLink="#">Administradores</a>
        </span>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="user"></i>
        <span>
          <a routerLink="#">Perfil</a>
        </span>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="poweroff"></i>
        <span>
          <a routerLink="#">Cerrar Sesión</a>
        </span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
                nz-icon
                [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>