<div nz-row nzJustify="space-between">
  <h3 nz-typography>Nueva Película</h3>
  <a routerLink="/movies" nz-button>Volver</a>
</div>
<nz-divider></nz-divider>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="title">Nombre</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="El nombre no es valido!">
      <input nz-input formControlName="title" id="title" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="release_date">Publicación</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Fecha no valida!">
      <nz-date-picker formControlName="release_date"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="status">Estado</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Seleccione un estado!">
      <nz-select formControlName="status" nzAllowClear nzPlaceHolder="Seleccione un estado">
        <nz-option nzValue="active" nzLabel="Activo"></nz-option>
        <nz-option nzValue="inactive" nzLabel="Inactivo"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 14, offset: 6 }">
      <div class="register-buttons">
        <button nz-button (click)="resetForm($event)">Reset</button>
        <button nz-button nzType="primary">Guardar</button>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>